* {
    margin: 0px;
    padding: 0px;

    font-family: 'Poppins', sans-serif;
    --background-color: hsl(257, 40%, 49%);
    --button-highlight: hsl(300, 69%, 71%);

}

.attribution {
    position: absolute;
    bottom: 1%;
    width: 100vw;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    background-image: url("/images/bg-desktop.svg");
    background-size: cover;
}

@media screen and (max-width:480px) {
    body {
        background-image: url("/images/bg-mobile.svg")
    }
}